body {
    font-size: 16px;
    color: navy;
}
h1 {
    color: yellow;
    background-color: blue;
}
h1 {
    color: #ffc;
    background-color: #009;
}
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    text-decoration: underline;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px;
    padding: 40px;
}
h2 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 20px;
    border-color: red;
}
article {
    color: #ffc;
    background-color: #009;
}
caption {caption-side: bottom}
/*이건 내가 떠올려서 넣은것임*/